<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Countdowns</title>
</head>
<body>
    <main class="main">
        <%= success %> 
        <h1 class="welcome-header">Welcome to Countdowns</h1>
        <div class="home-container">
            <a class="btn" href="/login">Login</a>
            <a class="btn" href="/register">Sign Up</a>
        </div>
        
    </main>
</body>
</html>